<section>
    <div class="d-flex justify-content-end pb-4" *ngIf="!config?.disableExport">

        <button mat-raised-button color='primary' class="me-2">Add Record <mat-icon>add</mat-icon></button>
        <button mat-raised-button color='primary' [matMenuTriggerFor]="exportMenu">Export</button>
        <mat-menu #exportMenu="matMenu">
            <button mat-menu-item>PDF</button>
            <button mat-menu-item>Excel</button>
        </mat-menu>
    </div>
    <div class="table-wrapper">
        <table>
            <tr *ngIf="!config?.disableFilters">
                <td *ngFor="let header of headers">
                    <div [formGroup]="filterForm" *ngIf="header.format !== 'date'; else datePicker">
                        <mat-form-field>
                            <mat-label>{{ header.text }}</mat-label>
                            <input matInput type="text" [formControlName]="header.value" />
                        </mat-form-field>
                    </div>
                    <ng-template #datePicker>
                        <div [formGroup]="dateFilterForm">
                            <div [formGroupName]="header.value">
                                <mat-form-field>
                                    <mat-label>Start Date</mat-label>
                                    <input matInput [matDatepicker]="startPicker" formControlName="startDate">
                                    <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                                    <mat-datepicker #startPicker></mat-datepicker>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>End Date</mat-label>
                                    <input matInput [matDatepicker]="endPicker" formControlName="endDate">
                                    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                                    <mat-datepicker #endPicker></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </ng-template>
                </td>
                <td *ngIf="!config?.disableActions"></td>
            </tr>
            <tr>
                <th *ngFor="let header of headers">
                    <div class="d-flex align-items-center" (click)="sortTable(header)">
                        <span class="me-4">{{ header.text }}</span>
                        <mat-icon *ngIf="sortData?.direction === 'DESC' && sortData?.header?.value === header?.value">expand_more</mat-icon>
                        <mat-icon *ngIf="sortData?.direction === 'ASC' && sortData?.header?.value === header?.value">expand_less</mat-icon>
                    </div>
                </th>
                <th *ngIf="!config?.disableActions">
                    Actions
                </th>
            </tr>
            <tr *ngFor="let row of data; let i = index">
                <td *ngFor="let header of headers">
                    <ng-container *ngIf="editingItem?.id === row['id'] && header.editable; else dataLayout">
                        <mat-form-field *ngIf="header.format === 'date'; else defaultInput">
                            <mat-label>{{ header.text }}</mat-label>
                            <input matInput [matDatepicker]="datePicker" [value]="row[header.value]">
                            <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                            <mat-datepicker #datePicker></mat-datepicker>
                        </mat-form-field>
                        <ng-template #defaultInput>
                            <mat-form-field>
                                <mat-label>{{ header.text }}</mat-label>
                                <input [type]="header.format === 'currency' ? 'number' : 'text'" matInput [(ngModel)]="editingItem[header.value]" />
                            </mat-form-field>
                        </ng-template>
                    </ng-container>
                    <ng-template #dataLayout>
                        <ng-container [ngSwitch]="header.format">
                            <!-- Compiler unable to determine value assertion here so cast as any -->
                            <ng-container *ngSwitchCase="'date'">{{ $any(row[header.value]) | date }}</ng-container>
                            <ng-container *ngSwitchCase="'currency'">{{ $any(row[header.value]) | currency }}</ng-container>
                            <ng-container *ngSwitchDefault>
                                <a [routerLink]="[config?.linkRoute, row.id]" *ngIf="header.route; else defaultText">{{ row[header.value] }}</a>
                                <ng-template #defaultText>
                                    {{ row[header.value] }}
                                </ng-template>
                            </ng-container>
                        </ng-container>
                    </ng-template>
                </td>
                <td *ngIf="!config?.disableActions">
                    <div class="d-flex">
                        <ng-container *ngIf="editingItem?.id === row['id']; else editButton">
                            <button mat-icon-button (click)="rowUpdate()">
                                <mat-icon>check</mat-icon>
                            </button>
                            <button mat-icon-button (click)="resetEdit()">
                                <mat-icon>clear</mat-icon>
                            </button>
                        </ng-container>
                        <ng-template #editButton>
                            <button mat-icon-button (click)="enableEdit(row)">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </ng-template>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</section>