<section>
    <div class="d-flex justify-content-end pb-4">
        <button mat-raised-button color='primary' [matMenuTriggerFor]="exportMenu">Export</button>
        <mat-menu #exportMenu="matMenu">
            <button mat-menu-item>PDF</button>
            <button mat-menu-item>Excel</button>
        </mat-menu>
    </div>
    <div class="table-wrapper">
        <table>
            <tr [formGroup]="filterForm">
                <td *ngFor="let header of headers">
                    <mat-form-field>
                        <mat-label>{{ header.text }}</mat-label>
                        <input matInput type="text" [formControlName]="header.value" *ngIf="header.format !== 'date'; else datePicker" />
                        <ng-template #datePicker>
                            <input matInput [matDatepicker]="picker" [formControlName]="header.value">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </ng-template>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <th *ngFor="let header of headers">
                    <div class="d-flex align-items-center" (click)="sortTable(header)">
                        <span class="me-4">{{ header.text }}</span>
                        <mat-icon *ngIf="sortData?.direction === 'DESC' && sortData?.header?.value === header?.value">expand_more</mat-icon>
                        <mat-icon *ngIf="sortData?.direction === 'ASC' && sortData?.header?.value === header?.value">expand_less</mat-icon>
                    </div>
                </th>
            </tr>
            <tr *ngFor="let row of data">
                <td *ngFor="let header of headers">
                    <ng-container [ngSwitch]="header.format">
                        <ng-container *ngSwitchCase="'date'">{{ row[header.value] | date }}</ng-container>
                        <ng-container *ngSwitchCase="'currency'">{{ row[header.value] | currency }}</ng-container>
                        <ng-container *ngSwitchDefault>{{ row[header.value] }}</ng-container>
                    </ng-container>
                </td>
            </tr>
        </table>
    </div>
</section>