<h1 class="pb-2">The Dashboard</h1>
<h2>Summary</h2>
<!-- <app-table [data]="summaryData" [headers]="summaryHeaders" [disableActions]="true"></app-table> -->
<div class="d-flex justify-content-evenly">
    <p>
        <span>Budget Totals: {{ totalBudget | currency }}</span>
    </p>
    <p *ngFor="let status of totalStatus">{{ status.name | titlecase}}: {{ status.count }}</p>
</div>
<app-table [data]="tableData" [headers]="tableHeaders" (dateFilter)="tableDateFilter = $event" (filter)="tableFilter = $event" (sort)="sort = $event" (recordChange)="updateData($event)"></app-table>